h1 {
    color: rgb(0, 0, 0);
  }

.bookmarkcreator {
    display: flex;
}

body {
    background-color: rgb(29, 29, 29);
}

.tabList {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding-left: 20px;
}
